<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341585042809-praqg8o5qpvro0kctcedas265pthigq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341585042809-praqg8o5qpvro0kctcedas265pthigq0</string>
	<key>API_KEY</key>
	<string>AIzaSyDSGe7DUntkLLUpj9pw9ZV4ZkvkeHUTLSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>341585042809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>flu5-7573d</string>
	<key>STORAGE_BUCKET</key>
	<string>flu5-7573d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341585042809:ios:5091c5e24f9d0029d663a8</string>
	<key>DATABASE_URL</key>
	<string>https://flu5-7573d-default-rtdb.firebaseio.com</string>
</dict>
</plist>